.heading {
  margin-top: 40px;
  text-align: center;
}
.postForm {
margin: 10px;
}
#name{
  margin: 5px;
  width: 600px;
  height: 30px;
}
 #category {
  margin: 5px;
  width: 350px;
  height: 30px;
}
label {
  font-size: 18px;
  font-weight: bold;
}
button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: blue;
  cursor: pointer;
}

.mainPost {
  margin: 10px;
  width: 75%;
}
.postContent {
  padding: 10px;
  border: 2px solid brown;
  border-radius: 10px;
}
.mainPost button {
  float: right;
}
table {
  border-collapse: collapse;
  border-spacing:20px
}
.posts {
  border: 1px darkorange dotted;
  padding: 5px;
  margin: 10px;;
}

.categoryTitle {
  font-weight: bold;
  font-size: 22px;
}
.postTitle {
  font-weight: bold;
  font-size: 18px;
}
.forTablePadding {
  padding: 10px;
}
.categoryTitle, .postTitle .forTablePadding {
  border-top: dotted darkorange thin;
}
.container {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login {
  width: 100px;
  height: 40px;
  margin-left: 20%;
}